.header {
   
    background-color:#06B2BB;
    width: 1366px;
    height: 70px;
    display: inline-flexbox;
    box-shadow: 0px 3px 6px #00000029;
    padding-left: 151px;
    
  }
  .logo {
    width: 141,83px;
    height: 33,28px;
    margin-top: 24px;
  }

 .header a {
    text-decoration: none;
    color: white;
        
  }

  .header a:hover {
    color: black;
  }

  .signin {
    
    width: 112px;
    height: 34px;
    border: solid 1px white;
    border-radius: 30px;
    text-align: center;
    padding-top: 7px;
    margin-left: 1094px;
    margin-top: -50px;
    
  }

  .signin:hover {
    background-color: #FDD219;
    border: #FDD21981;
    }

    